{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <select class="form-select mx-auto w-auto" aria-label="Default select example" name="symbol" id="symbol">
            <option disabled selected>Select a stock</option>
            {% for company in portfolio %}
            <option name="symbol" value="{{ company.symbol }}">{{ company["name"] }}</option>
            {% endfor %}
        </select>
    </div>
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Amount to sell" type="number">
    <button class="btn btn-primary" type="submit" style="padding: 5px 20px; margin-top: 15px;">Sell</button>
</form>
{% endblock %}